@import url("https://uicdn.toast.com/tui-image-editor/latest/tui-image-editor.css");

* {
  margin: 0;
  padding: 0;
}

.logseq-image-editor-main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #212c31;
}

.logseq-image-editor-main .top-bar {
  flex: 1;
  width: 100%;
  background-color: #222;
  border-bottom: 1px solid #666;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 6px;
  box-sizing: border-box;
}

.logseq-image-editor-main .top-bar .icon-button {
  cursor: pointer;
  margin: 0 16px;
}

.logseq-image-editor-main .main {
  width: 100%;
  height: 94vh;
}

/* 更改组件样式 */
.tui-image-editor-download-btn {
  display: none !important;
}
